body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  background-image: url('im-hungry-background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

header h1 {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  margin: 40px 0 40px 0;
}
/* main */
.wrapper {
  margin: auto;
  padding: 8%;
  width: 70%;
  border-style: solid;
  border-color: #000;
  display: flex;

  flex-direction: column;
}

.hidden {
  display: none;
}

/* buttons */
.buttons {
  text-align: center;
}
.btn:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 25%; /* Change this to whatever width you want to have before hover. */
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
  transition: 0.5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.btn:hover:after {
  width: 100%; /* This will be the new width of your border when on hover */
}
.btn {
  width: auto;
  background: transparent;
  border: none;
}

/* deskstop view > 600px */
@media all and (min-width: 600px) {
}
