/* mobile view < 640px */
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    ),
    url(im-hungry-background.jpg) no-repeat center center / cover fixed;
  color: #000;
}

header h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 5%;
  font-size: 3rem;
  animation-duration: 2s;
  animation-name: slidein1;
}

@keyframes slidein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* main */
.wrapper {
  margin: auto;
  padding: 8%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

img {
  border-radius: 10px;
}

.recipe-title {
  font-size: 1.4em;
}

.recipe-info {
  margin: 5% 0 5% 0;
}

/* display */
.hidden {
  display: none;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin-top: 5%;
}

.btn:after {
  content: '';
  display: block;
  width: 0%;
  padding-top: 5px;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

.btn:hover:after,
.btn:focus:after {
  width: 100%;
}
.btn {
  width: auto;
  background: transparent;
  border: none;
}

.btn:focus {
  outline: none;
}

.start {
  padding-top: 40%;
}

/* deskstop view > 640px */
@media all and (min-width: 640px) {
  header h1 {
    font-size: 4rem;
    text-align: left;
    margin: 0 0 0 15%;
    padding-top: 3%;
    padding-bottom: 0;
    animation-duration: 2s;
    animation-name: slidein2;
  }

  @keyframes slidein2 {
    from {
      opacity: 0;
      margin-left: 35%;
    }
    to {
      opacity: 1;
      margin-right: 25%;
    }
  }

  .wrapper {
    margin-right: 0;
    padding-right: 8%;
    padding-top: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 80%;
  }

  .recipe-title {
    font-size: 1rem;
  }

  .recipe-info {
    margin: 3% 0 3% 0;
    font-size: 0.8rem;
  }

  .buttons {
    margin-top: 3%;
  }
}
